body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
header {
    background-image: url("https://images.unsplash.com/photo-1658195952756-892740657893?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    padding-bottom: 15%;
    color: #fff;
  }

section {
    overflow: hidden;
}
  
header h2, header p {
    background-color: rgba(21, 20, 20, 0.5);
    width: 40%;
    margin: 0 auto;
  }
  
header p {
    font-size: 20px;
    font-weight: 300;
  }
nav li {
    display: inline;
    font-size: 17px;
    font-weight: 700;
    color: #f30d78;
    margin: 0 40px;
    padding: 5px 10px;
  }
  
nav {
    text-align: center;
    margin: 0;
    padding-top: 30px;
  }
  
nav a {
    text-decoration: none;
  }
  
nav li:hover {
    color: #fff;
  }
  
a {
    cursor: pointer;
  }
.info {
    display: block;
    height: fit-content;
    float: left;
}
.info img {
    width: 50%;
    vertical-align: middle;
  }
.cinema-text {
    width: 40%;
    padding: 4% 5%;
    margin: 0;
    color: #f1c4c4;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
.ingress {
    font-weight: 300;
    font-size: 25px;
  }
  
.left {
    float: left;
  }
  
.right {
    float: right;
  }
.program {
    display: block;
    width: 100%;
    height: fit-content;
}
.program-text {
    margin: 0px;
    width: 100%;
    padding: 5px;
    align-content: center;
    background-color: #ffffff;
    text-align: center;
    border: 6px black;
    border-style: dashed solid dashed solid;
 }

.schedule {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
  }
  
.day {
    padding: 5% 5%;
    border-radius: 25px;
    width: 25%;
  }
.day h4{
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}
  
.day li {
    margin: 20% 0;
    font-size: 15px;
  }
.pink {
    background-color: #C27BA0;
  }
.orange {
    background-color: #e7a848;
  }
  
.green {
    background-color: #6d995b;
  }
  
.blue {
    background-color: #4a6cb7;
 }

.favourite h2{
    padding: 2.5%;
    text-align: left;
    color: #fff;
}
.favourite {
    padding: 1%;
}
.favourite-input{
    flex: 50%;
    padding: 10px;
    margin-right: 50px;
    color: #fff;
}
.favourite-input img{
  flex: 50%;
  text-align: left;
  padding: 5px;
  width: 400px;
}

.food {
    border: 7px #efea71 double;
    color: #efea71;
}
.food p{
  padding: 10px;
}
.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }

.navigation {
    margin-top: 3%;
    display: flex;
    background-color: #fff;
    border: 5px dashed black;

}
.navigation-img {
    width: 50%;
    vertical-align: middle;
    border: 5px solid black;
}
.navigation-text {
    width: 38%;
    padding: 4% 6%;
    margin: 0;
    border: 5px solid black;
}
.character {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
  padding: 2%;
  border: #fff solid;
}
.character img {
  width: 250px;
  vertical-align: middle;
}

footer {
    margin-top: 3%;
    padding: 5%;
    background-color: blanchedalmond;
    

}